body.offer {

#container > ul {
	margin-bottom: 80px;
}

.list-offer {
	text-align: center;

	li {
		display: inline-block;
		margin: 40px 0;
		padding-bottom: 20px;
		border-bottom: 1px solid $orange;
		font-size: $md;
		text-transform: uppercase;
		line-height: $line;
		width: 27%;
		text-align: center;
		vertical-align: middle;
	}
	li:nth-child(odd) {
		color: $orange;
	}
	li:nth-child(3n-1) {
		margin-left: 8%;
		margin-right: 8%;
	}
}

.list-workshop {
	li {
		font-size: $md;
		line-height: $line;
		list-style-type: disc;
		list-style-position: outside;
	}

	ul {
		margin-left: 40px;
	}
}

.list-products {
	@extend .list-workshop;
}

#click-to-view {
	text-align: center;

	div a {
		// color: $orange;
	}
}

}
